<a href="https://colab.research.google.com/github/shubanali786/copilot-codespaces-vscode/blob/main/Data_Science_Cohort_1_Assignment_Solution1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<hr style="border:5px solid #002060"> </hr>

# pandas Fundamentals <hr style="border:4.5px solid #002060"> </hr>

## Introduction to pandas Series

Import the 'pandas' library to load it into the computer's memory, so that you can work with it in this Notebook Document.

<br/> *Note: Don't forget to use the widely-accepted convention as well.*

<br/> Remember that no matter how many times you execute this code cell, the library will be imported only once in this Document, and it will remain active.

In [ ]:
import pandas as pd

Create the **employee_names** list.

In [ ]:
employee_names = ['Amy White', 'Jack Stewart', 'Richard Lauderdale', 'Sara Johnson']
employee_names

['Amy White', 'Jack Stewart', 'Richard Lauderdale', 'Sara Johnson']

Verify the **employee_names** object is a list.

In [ ]:
type(employee_names)

list

Create a pandas Series object containing the elements from the **employee_names** list. Call it **employee_names_Series**.

In [ ]:
employee_names_Series = pd.Series(employee_names)

Confirm the object is of the Series type.

In [ ]:
type(employee_names_Series)

pandas.core.series.Series

Now, create a Series object directly. That is, not from an existing list, but by using the following structure:
**pd.Series([...])**
<br/>Let the elements of the Series object be the following numbers: 5, 8, 3, and 10. Name the object **work_experience_yrs.**

Import the 'NumPy' package to load it into the computer's memory, so that you can work with it in this Notebook Document.

*Note: Don't forget to use the widely-accepted convention as well.*

In [ ]:
import numpy as np
work_experience_yrs = pd.Series([5, 8, 3, 10])

Execute the code cell below to create the **array_1** NumPy array object.

In [ ]:
array_age = np.array([50, 53, 35, 43])
array_age
array_1 = np.array([50, 53, 35, 43])

Verify the type of the **array_age** object:

In [ ]:
type(array_age)

numpy.ndarray

Create a Series object called **series_age** from the NumPy array object **array_age** you just created.

In [ ]:
series_age = pd.Series(array_age)

Check the type of the newly created object.

In [ ]:
type(series_age)

pandas.core.series.Series

Use the *print()* function to display the content of **series_age**.

In [ ]:
print("Type of series_age:", type(series_age))

Type of series_age: <class 'pandas.core.series.Series'>

## Working with Methods in Python

Consider the following Series object.

In [ ]:
employees_work_exp = pd.Series({
'Amy White'   : 3,
'Jack Stewart'   : 5,
'Richard Lauderdale'  : 4.5,
'Sara Johnson'  : 22,
'Patrick Adams' : 28,
'Jessica Baker'  : 14,
'Peter Hunt'   : 4,
'Daniel Lloyd'  : 6,
'John Owen'   : 1.5,
'Jennifer Phillips'  : 10,
'Courtney Rogers'   : 4.5,
'Anne Robinson'  : 2,
})

Use a certain method to extract the top five values from this Series.

In [ ]:
employees_work_exp.nlargest(5)

Patrick Adams        28.0
Sara Johnson         22.0
Jessica Baker        14.0
Jennifer Phillips    10.0
Daniel Lloyd          6.0
dtype: float64

Use another method to extract the last few rows of **employees_work_exp**.

In [ ]:
employees_work_exp.tail()

Daniel Lloyd          6.0
John Owen             1.5
Jennifer Phillips    10.0
Courtney Rogers       4.5
Anne Robinson         2.0
dtype: float64

## Using .unique() and .nunique()

Load the "Region.csv" file and use the .squeeze() method to convert it into a series. Store the information in a variable called **region_data**. Preview the data with the pandas *.head()* method.

In [32]:
region_df = pd.read_csv("Region.csv")

Verify that **region_data** is a Series object.

In [34]:
type(region_data)

pandas.core.series.Series

Use the *.describe()* method to obtain descriptive statistics on the **region_data** Series.
<br>Think of how many unique values there are in the data set.
<br>*Please note that the statistics provided in the output exclude missing data.*

In [39]:
print("Descriptive Statistics:")
print(region_data.describe())
num_unique_values = region_data.nunique()
print("\nNumber of unique values:", num_unique_values)

Descriptive Statistics:
count         1042
unique          18
top       Region 6
freq           326
Name: Region, dtype: object

Number of unique values: 18

You can obtain some of the values from the previous output by using Python built-in functions or methods. Please extract the total number of values from the **region_data** Series, then the number of unique values. Finally, obtain a list containing all unique values from this Series.

In [45]:
total_values = region_data.count()
unique_values_count = region_data.nunique()
unique_values_list = region_data.unique()

print(total_values)
print(unique_values_count)
print(unique_values_list)

1042
18
['Region 2' 'Region 6' 'Region 3' 'Region 1' 'Region 5' 'Region 9'
 'Region 7' 'Region 4' 'Region 12' 'Region 16' 'Region 8' 'Region 10'
 'Region 13' 'Region 15' 'Region 11' 'Region 14' 'Region 17' 'Region 18']

## Using .sort_values()

In [52]:
orted_region_data = region_data.sort_values()
print("Sorted region_data:")

Sorted region_data:

Sort the values without specifying any arguments.

In [57]:
sorted_region_data = region_data.sort_values()
print("Sorted region_data:")
print(sorted_region_data)

Sorted region_data:
462    Region 1
347    Region 1
609    Region 1
610    Region 1
339    Region 1
         ...
536    Region 9
450    Region 9
8      Region 9
842    Region 9
940    Region 9
Name: Region, Length: 1042, dtype: object

*Please note that the numbers go from 1 to 18, but we are currently ordering the values as labels, not integers. 1 is succeeded by 10, then 11, and so on until 18. Then we have 2, 3, 4, etc., until 8, and eventually - 9.*

In [55]:
sorted_region_data = region_data.sort_values()
print("Sorted region_data (lexicographical order):")
print(sorted_region_data)

Sorted region_data (lexicographical order):
462    Region 1
347    Region 1
609    Region 1
610    Region 1
339    Region 1
         ...
536    Region 9
450    Region 9
8      Region 9
842    Region 9
940    Region 9
Name: Region, Length: 1042, dtype: object

Sort the values, setting the *ascending* parameter equal to *True*.

In [56]:
sorted_region_data = region_data.sort_values(ascending=True)

print("Sorted region_data (ascending order):")
print(sorted_region_data)

Sorted region_data (ascending order):
462    Region 1
347    Region 1
609    Region 1
610    Region 1
339    Region 1
         ...
536    Region 9
450    Region 9
8      Region 9
842    Region 9
940    Region 9
Name: Region, Length: 1042, dtype: object

Sort the values in **region_data** in descending order.

In [58]:
sorted_region_data_desc = region_data.sort_values(ascending=False)
print("Sorted region_data (descending order):")
print(sorted_region_data_desc)

Sorted region_data (descending order):
450    Region 9
842    Region 9
141    Region 9
940    Region 9
8      Region 9
         ...
569    Region 1
892    Region 1
558    Region 1
557    Region 1
309    Region 1
Name: Region, Length: 1042, dtype: object

## Introduction to pandas DataFrames

Import the pandas and numpy libraries by using the relevant well-known conventions.

In [59]:
import pandas as pd
import numpy as np

The goal of this exercise is to solidify your knowledge and understanding of the fundamentals of using pandas DataFrames.

Execute the next code cell to create the array called **array_c**.

In [60]:
array_c = np.array([[1000, 50, 78.45], [700, 112, 35.5]])
array_c

array([[1000.  ,   50.  ,   78.45],
       [ 700.  ,  112.  ,   35.5 ]])

Convert **array_c** into a DataFrame, called **company_statistics**. Assign the column names and row labels from the following lists as column names and index of this DataFrame, respectively.

In [61]:
# column names
['No. of Employees', 'Avg. Annual Revenue ($)', 'Share price ($)']

['No. of Employees', 'Avg. Annual Revenue ($)', 'Share price ($)']

In [66]:
column_names = ['No. of Employees', 'Avg. Annual Revenue ($)', 'Share price ($)']

In [67]:
# row labels
['Company A', 'Company B']

['Company A', 'Company B']

Display the **company_statistics** DataFrame.

In [68]:
company_statistics = pd.DataFrame(array_c, columns=column_names, index=row_labels)
print(company_statistics)

           No. of Employees  Avg. Annual Revenue ($)  Share price ($)
Company A            1000.0                     50.0            78.45
Company B             700.0                    112.0            35.50

Import the *Sales-products.csv* dataset into a DataFrame object called **sales_products_data**.

In [73]:
sales_products_data = pd.read_csv("/content/Sales-products.csv")

*Note: Please use the default index provided for this DataFrame throughout this exercise.*

In [74]:
print(sales_products_data.head())

     SaleID RetailerCountry OrderMethod   RetailerType           ProductLine  \
0  SaleID_1   United States         Fax  Outdoors Shop  Personal Accessories
1  SaleID_2   United States         Fax  Outdoors Shop      Sports Equipment
2  SaleID_3   United States         Fax  Outdoors Shop                   NaN
3  SaleID_4   United States         Fax  Outdoors Shop                   NaN
4  SaleID_5   United States         NaN  Outdoors Shop  Personal Accessories

    ProductType                    Product    Year  Quarter   Revenue  \
0  Cooking Gear  TrailChef Deluxe Cook Set  2018.0  Q1 2018  59728.66
1  Cooking Gear     TrailChef Double Flame  2018.0  Q1 2018  36050.32
2         Tents                  Star Dome  2018.0  Q1 2018  90040.48
3         Tents               Star Gazer 2  2018.0  Q1 2018       NaN
4     First Aid         Compact Relief Kit  2018.0  Q1 2018       NaN

   Quantity  GrossMargin
0     491.0     0.357548
1     254.0     0.484274
2     149.0          NaN
3     305.0     0.292938
4     182.0     0.610710

Verify that the obtained object is a pandas DataFrame.

In [75]:
print(type(sales_products_data))

<class 'pandas.core.frame.DataFrame'>

Try out a well-known pandas method used for Series on this DataFrame to obtain its last five rows.

In [77]:
last_five_rows = sales_products_data.tail()
print(last_five_rows)

           SaleID RetailerCountry  OrderMethod   RetailerType  \
1271  SaleID_1272           Spain  Sales visit  Outdoors Shop
1272  SaleID_1273           Spain  Sales visit  Outdoors Shop
1273  SaleID_1274           Spain  Sales visit  Outdoors Shop
1274  SaleID_1275           Spain  Sales visit  Outdoors Shop
1275  SaleID_1276           Spain  Sales visit  Outdoors Shop

               ProductLine           ProductType                Product  \
1271  Personal Accessories                  Rope          Husky Rope 60
1272    Outdoor Protection  Climbing Accessories  Firefly Climbing Lamp
1273  Personal Accessories  Climbing Accessories        Firefly Charger
1274  Personal Accessories                 Tools            Granite Axe
1275     Camping Equipment                 Tools        Granite Extreme

        Year  Quarter   Revenue  Quantity  GrossMargin
1271  2020.0  Q3 2020  30916.50     173.0     0.298114
1272  2020.0  Q3 2020   7536.29     193.0     0.445287
1273  2020.0  Q3 2020  12306.48     238.0     0.568420
1274  2020.0  Q3 2020  56499.00    1472.0     0.490667
1275  2020.0  Q3 2020  89427.00    1178.0     0.386895

## pandas DataFrames - Common Attributes

Import the *Sales-products.csv* dataset into a DataFrame object called **sales_products_data**.

*Note: Please use the default index provided for this DataFrame throughout this exercise.*

In [78]:
sales_products_data = pd.read_csv("/content/Sales-products.csv")
print(sales_products_data.head())

     SaleID RetailerCountry OrderMethod   RetailerType           ProductLine  \
0  SaleID_1   United States         Fax  Outdoors Shop  Personal Accessories
1  SaleID_2   United States         Fax  Outdoors Shop      Sports Equipment
2  SaleID_3   United States         Fax  Outdoors Shop                   NaN
3  SaleID_4   United States         Fax  Outdoors Shop                   NaN
4  SaleID_5   United States         NaN  Outdoors Shop  Personal Accessories

    ProductType                    Product    Year  Quarter   Revenue  \
0  Cooking Gear  TrailChef Deluxe Cook Set  2018.0  Q1 2018  59728.66
1  Cooking Gear     TrailChef Double Flame  2018.0  Q1 2018  36050.32
2         Tents                  Star Dome  2018.0  Q1 2018  90040.48
3         Tents               Star Gazer 2  2018.0  Q1 2018       NaN
4     First Aid         Compact Relief Kit  2018.0  Q1 2018       NaN

   Quantity  GrossMargin
0     491.0     0.357548
1     254.0     0.484274
2     149.0          NaN
3     305.0     0.292938
4     182.0     0.610710

Return the index of the **sales_products_data** DataFrame.

In [80]:
index_of_sales_products_data = sales_products_data.index
print(index_of_sales_products_data)

RangeIndex(start=0, stop=1276, step=1)

Verify that **sales_products_data** is a RangeIndex object in an alternative way by using the **type()** funciton.

In [81]:
index_type = type(sales_products_data.index)
print(index_type)

<class 'pandas.core.indexes.range.RangeIndex'>

Retrieve and Index object containing all column names from the **sales_products_data** DataFrame.

In [82]:
column_names = sales_products_data.columns
print(column_names)

Index(['SaleID', 'RetailerCountry', 'OrderMethod', 'RetailerType',
       'ProductLine', 'ProductType', 'Product', 'Year', 'Quarter', 'Revenue',
       'Quantity', 'GrossMargin'],
      dtype='object')

You are requested to create a new DataFrame, called **df**, whose data is obtained from the the names of the columns of **sales_products_data** DataFrame, while the column names are obtained from the **new_column_names** list.
<br/><br/> First, execute the next cell to create **new_column_names**, and then in the next cell try creating the **df** DataFrame yourself (by helping yourself with the newly created **new_column_names** list).
<br/><br/> *Note: There are two ways to achieve this - one would be through utilizing the* **columns** *parameter, and the other – with the help of the* **"columns"** *attribute. Choose whichever option you prefer (or why not try both!).*

In [88]:
new_column_names = ['SaleID', 'Country', 'OrderMethod', 'Retailer', 'Line',
                    'Type', 'Product', 'YearOfSales', 'Quarter', 'Revenue',
                    'Quantity', 'Margin']

Display the "head" of the **df** DataFrame.

In [95]:
print(df.head())

     SaleID        Country OrderMethod       Retailer                  Line  \
0  SaleID_1  United States         Fax  Outdoors Shop  Personal Accessories
1  SaleID_2  United States         Fax  Outdoors Shop      Sports Equipment
2  SaleID_3  United States         Fax  Outdoors Shop                   NaN
3  SaleID_4  United States         Fax  Outdoors Shop                   NaN
4  SaleID_5  United States         NaN  Outdoors Shop  Personal Accessories

           Type                    Product YearOfSales  Quarter   Revenue  \
0  Cooking Gear  TrailChef Deluxe Cook Set      2018.0  Q1 2018  59728.66
1  Cooking Gear     TrailChef Double Flame      2018.0  Q1 2018  36050.32
2         Tents                  Star Dome      2018.0  Q1 2018  90040.48
3         Tents               Star Gazer 2      2018.0  Q1 2018       NaN
4     First Aid         Compact Relief Kit      2018.0  Q1 2018       NaN

  Quantity    Margin
0    491.0  0.357548
1    254.0  0.484274
2    149.0       NaN
3    305.0  0.292938
4    182.0   0.61071

Use an attribute to obtain metadata about the types of data stored in the different columns of the **sales_products_data** DataFrame.

In [96]:
column_data_types = sales_products_data.dtypes
print(column_data_types)

SaleID              object
RetailerCountry     object
OrderMethod         object
RetailerType        object
ProductLine         object
ProductType         object
Product             object
Year               float64
Quarter             object
Revenue            float64
Quantity           float64
GrossMargin        float64
dtype: object

Obtain a Numpy array containing all values of the **sales_products_data**.
<br/><br/> *Note: There are two ways to achieve this! Try both, but keep in mind that pandas developers advise us to stick to using the method.*

In [97]:
numpy_array = sales_products_data.to_numpy()
print(numpy_array)

[['SaleID_1' 'United States' 'Fax' ... 59728.66 491.0 0.35754797]
 ['SaleID_2' 'United States' 'Fax' ... 36050.32 254.0 0.4842745]
 ['SaleID_3' 'United States' 'Fax' ... 90040.48 149.0 nan]
 ...
 ['SaleID_1274' 'Spain' 'Sales visit' ... 12306.48 238.0 0.56842037]
 ['SaleID_1275' 'Spain' 'Sales visit' ... 56499.0 1472.0 0.49066667]
 ['SaleID_1276' 'Spain' 'Sales visit' ... 89427.0 1178.0 0.38689474]]

In [99]:
values_array = sales_products_data.values
print(values_array)

[['SaleID_1' 'United States' 'Fax' ... 59728.66 491.0 0.35754797]
 ['SaleID_2' 'United States' 'Fax' ... 36050.32 254.0 0.4842745]
 ['SaleID_3' 'United States' 'Fax' ... 90040.48 149.0 nan]
 ...
 ['SaleID_1274' 'Spain' 'Sales visit' ... 12306.48 238.0 0.56842037]
 ['SaleID_1275' 'Spain' 'Sales visit' ... 56499.0 1472.0 0.49066667]
 ['SaleID_1276' 'Spain' 'Sales visit' ... 89427.0 1178.0 0.38689474]]

Verify that the obtained objects are NumPy arrays with the help of the "Type" function.

In [ ]:
Import the pandas and numpy libraries by using the relevant well-known conventions.

import pandas as pd
import numpy as np

In [100]:
print(type(values_array))

<class 'numpy.ndarray'>

Obtain the number of rows and columns in the **sales_products_data** DataFrame.

In [101]:
rows, columns = sales_products_data.shape
print(f"Number of rows: {rows}")
print(f"Number of columns: {columns}")

Number of rows: 1276
Number of columns: 12

Check if the output obtained in the previous cell is a tuple.

In [102]:
shape_type = type(sales_products_data.shape)
print(shape_type)

<class 'tuple'>

## Data Selection in pandas DataFrames

Although we are not advised to, retrieve the data from the 'Product' column from the **sales_products_data** column *without* using the indexing operator **[ ]**.

In [103]:
product_column = sales_products_data.Product
print(product_column.head())

0    TrailChef Deluxe Cook Set
1       TrailChef Double Flame
2                    Star Dome
3                 Star Gazer 2
4           Compact Relief Kit
Name: Product, dtype: object

Retrieve the data from the 'Product' column from the **sales_products_data** column by using the indexing operator **[ ]**.

In [104]:
product_column = sales_products_data['Product']
print(product_column.head())

0    TrailChef Deluxe Cook Set
1       TrailChef Double Flame
2                    Star Dome
3                 Star Gazer 2
4           Compact Relief Kit
Name: Product, dtype: object

Apply the **.tail()** method to the code you used in your previous response to obtain the last five rows from the "Product" column.

In [105]:
product_column_tail = sales_products_data['Product'].tail()
print(product_column_tail)

1271            Husky Rope 60
1272    Firefly Climbing Lamp
1273          Firefly Charger
1274              Granite Axe
1275          Granite Extreme
Name: Product, dtype: object

Although we are not advised to, retrieve the data from the 'Quarter' column from the **sales_products_data** column *without* using the indexing operator **.[ ]**.

In [106]:
quarter_column = sales_products_data.Quarter
print(quarter_column.head())

0    Q1 2018
1    Q1 2018
2    Q1 2018
3    Q1 2018
4    Q1 2018
Name: Quarter, dtype: object

Retrieve the data from the 'Quarter' column from the **sales_products_data** column by using the indexing operator **[ ]**.

In [107]:
quarter_column = sales_products_data['Quarter']
print(quarter_column.head())

0    Q1 2018
1    Q1 2018
2    Q1 2018
3    Q1 2018
4    Q1 2018
Name: Quarter, dtype: object

Use any of the 4 previous examples to verify that the data obtained from a column of a DataFrame is actually stored in a Series object:

In [108]:
quarter_column = sales_products_data['Quarter']
print(type(quarter_column))

<class 'pandas.core.series.Series'>

<br> Use a well-know attribute and attribute chaining to obtain information about the type of data stored in the "Revenue" column.

In [109]:
revenue_column_type = sales_products_data['Revenue'].dtype
print(revenue_column_type)

float64

**Selecting multiple columns from a DF**

Use a list with column names within the indexing operator ([ ]) to extract data from the 'Revenue' and 'Quantity' columns from the **sales_products_data** DataFrame. Use the **.head()** method to only display the top five rows of the selection.  <br>
Solve the problem by using a single line of code.

In [110]:
print(sales_products_data[['Revenue', 'Quantity']].head())

    Revenue  Quantity
0  59728.66     491.0
1  36050.32     254.0
2  90040.48     149.0
3       NaN     305.0
4       NaN     182.0

Can you think of a more elegant way to obtain the same result? This option is more often encountered in professional work since it improves the legibility of your code.

In [111]:
columns_selected = sales_products_data[['Revenue', 'Quantity']]
print(columns_selected.head())

    Revenue  Quantity
0  59728.66     491.0
1  36050.32     254.0
2  90040.48     149.0
3       NaN     305.0
4       NaN     182.0

## pandas DataFrames - Indexing with .iloc[]

Select the data from the first row from the **sales_products_data** DataFrame (don't forget that in programming we start counting from 0!).

In [112]:
first_row = sales_products_data.iloc[0]
print(first_row)

SaleID                              SaleID_1
RetailerCountry                United States
OrderMethod                              Fax
RetailerType                   Outdoors Shop
ProductLine             Personal Accessories
ProductType                     Cooking Gear
Product            TrailChef Deluxe Cook Set
Year                                  2018.0
Quarter                              Q1 2018
Revenue                             59728.66
Quantity                               491.0
GrossMargin                         0.357548
Name: 0, dtype: object

Select the data from the penultimate row from the **sales_products_data** DataFrame.

In [113]:
penultimate_row = sales_products_data.iloc[-2]
print(penultimate_row)

SaleID                      SaleID_1275
RetailerCountry                   Spain
OrderMethod                 Sales visit
RetailerType              Outdoors Shop
ProductLine        Personal Accessories
ProductType                       Tools
Product                     Granite Axe
Year                             2020.0
Quarter                         Q3 2020
Revenue                         56499.0
Quantity                         1472.0
GrossMargin                    0.490667
Name: 1274, dtype: object

Select the value from the second row and sixth column of **sales_products_data** by using the **.iloc[]** accessor.
<br><br> *Hint: If you've worked correctly, you should obtain 'Cooking Gear'.*

In [114]:
value = sales_products_data.iloc[1, 5]
print(value)

Cooking Gear

Use the **.shape** attribute to discover the largest numbers that you can use as arguments of the **.iloc[]** accessor.

In [115]:
num_rows, num_columns = sales_products_data.shape
print(f"Max row index: {num_rows - 1}")
print(f"Max column index: {num_columns - 1}")

Max row index: 1275
Max column index: 11

Considering the values you just obtained, use the **.iloc[]** accessor find out the value that has been stored in the last row and farthest-to-the-right column.

In [116]:
num_rows, num_columns = sales_products_data.shape
last_value = sales_products_data.iloc[num_rows - 1, num_columns - 1]
print(last_value)

0.38689474

Verify that you've obtained the correct value by applying the **.tail()** method to the **sales_products_data** DataFrame.
<br> Observe the value that is farthest to the right on the last row.

In [117]:
print(sales_products_data.tail())

           SaleID RetailerCountry  OrderMethod   RetailerType  \
1271  SaleID_1272           Spain  Sales visit  Outdoors Shop
1272  SaleID_1273           Spain  Sales visit  Outdoors Shop
1273  SaleID_1274           Spain  Sales visit  Outdoors Shop
1274  SaleID_1275           Spain  Sales visit  Outdoors Shop
1275  SaleID_1276           Spain  Sales visit  Outdoors Shop

               ProductLine           ProductType                Product  \
1271  Personal Accessories                  Rope          Husky Rope 60
1272    Outdoor Protection  Climbing Accessories  Firefly Climbing Lamp
1273  Personal Accessories  Climbing Accessories        Firefly Charger
1274  Personal Accessories                 Tools            Granite Axe
1275     Camping Equipment                 Tools        Granite Extreme

        Year  Quarter   Revenue  Quantity  GrossMargin
1271  2020.0  Q3 2020  30916.50     173.0     0.298114
1272  2020.0  Q3 2020   7536.29     193.0     0.445287
1273  2020.0  Q3 2020  12306.48     238.0     0.568420
1274  2020.0  Q3 2020  56499.00    1472.0     0.490667
1275  2020.0  Q3 2020  89427.00    1178.0     0.386895

Prove that **.iloc[]** can be applied to a Series object such as **sales_products_data['Product']** as well (e.g. by obtaining the first element from this column).
<br><br> *Note: We are asking you to try this syntax out to make sure you are in control of obtaining the desired portion of the data regardless of the object it has been contained into. The syntax and tools are similar, while their utilization may differ.*
<br> *This note applies to this and the next task.*

In [118]:
first_product = sales_products_data['Product'].iloc[0]
print(first_product)

TrailChef Deluxe Cook Set

Although we are not advised to, when working with a Series object, we can obtain the same output without using the **.iloc[]** indexer and using "classical" Python indexing. Can you try that out?

In [119]:
first_product_classical = sales_products_data['Product'][0]
print(first_product_classical)

TrailChef Deluxe Cook Set

## pandas DataFrames - Indexing with .loc[]

Retrieve the values from the first row of the DataFrame by using the specified label-based index rather than the default numeric index.

In [120]:
first_row_loc = sales_products_data.loc[0]
print(first_row_loc)

SaleID                              SaleID_1
RetailerCountry                United States
OrderMethod                              Fax
RetailerType                   Outdoors Shop
ProductLine             Personal Accessories
ProductType                     Cooking Gear
Product            TrailChef Deluxe Cook Set
Year                                  2018.0
Quarter                              Q1 2018
Revenue                             59728.66
Quantity                               491.0
GrossMargin                         0.357548
Name: 0, dtype: object

By using the specified label-based index again, retrieve the information stored in the 'GrossMargin' column for the 4th sale.

In [121]:
gross_margin_4th_sale = sales_products_data.loc[3, 'GrossMargin']
print(gross_margin_4th_sale)

0.29293788

Obtain a DataFrame containg the values stored in all columns for sales numbered 15, 235, and 1147 by using the **.loc[]** indexer.

In [122]:
sales_data = sales_products_data.loc[[15, 235, 1147]]
print(sales_data)

           SaleID RetailerCountry OrderMethod      RetailerType  \
15      SaleID_16   United States         Web              Mall
235    SaleID_236          Mexico         Web              Mall
1147  SaleID_1148         Germany       Phone  Department Store

            ProductLine ProductType        Product    Year  Quarter   Revenue  \
15    Camping Equipment      Knives      Max Gizmo  2018.0  Q1 2018  12362.20
235   Camping Equipment  Binoculars  Ranger Vision  2018.0  Q3 2018   5700.00
1147  Camping Equipment    Lanterns  EverGlow Lamp  2020.0  Q1 2020  44998.55

      Quantity  GrossMargin
15       323.0     0.549791
235       37.0     0.370000
1147    1670.0     0.524364

With the help of the **.loc[]** indexer, select the last 5 records from the 'Year' column.

In [124]:
last_5_years = sales_products_data.loc[sales_products_data.index[-5:], 'Year']
print(last_5_years)

1271    2020.0
1272    2020.0
1273    2020.0
1274    2020.0
1275    2020.0
Name: Year, dtype: float64